{% extends 'base_foot.html' %}
{% block link %}
    <link type="text/css" rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            let error_name = {{ error_name }};
            let error_pwd = {{ error_pwd }};
            if (error_name === 1) {
                $('.error_name').html("账号输入错误").show()
            }
            if (error_pwd===1){
                $('.error_pwd').html("密码输入错误").show()
            }
        });
    </script>
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}
<body>
{% block body %}
    <div class="login_top clearfix">
        <a href="#" class="login_logo"><img src="/static/images/logo02.png"></a>
    </div>

    <div class="login_form_bg">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">日夜兼程 · 急速送达</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>用户登录</h1>
                    <a href="/user/register/">立即注册</a>
                </div>
                <div class="form_input">
                    <form action="/user/login_handle/" method="post">
                        {% csrf_token %}
                        <input name="uname" class="name_input" placeholder="请输入用户名">
                        <p class="error_name error"></p>
                        <input type="password" name="upwd" class="pass_input" placeholder="请输入密码">
                        <div class="error_pwd error"></div>
                        <div class="more_input clearfix">
                            <input type="checkbox" name="remember" checked>
                            <label>记住用户名</label>
                            <a href="#">忘记密码</a>
                        </div>
                        <input type="submit" name="login" value="登录" class="input_submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>