{% extends 'base_foot.html' %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/user_center_info.css">
{% endblock %}
<body>
{% block body %}
    <div class="container">
        <div class="top">
            <h1 class="top_title">欢迎来到天天生鲜!</h1>
            <ul>
                <li>
                    <a href="#">登陆</a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">注册</a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">用户中心</a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">我的购物车</a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">我的订单</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="search_container">
                <div class="logo">
                    <img src="/static/images/logo.png" alt="logo">
                    <span>|</span>
                    <h1>用户中心</h1>
                </div>
                <div class="search">
                    <input type="search" name="search" value="搜索商品">
                    <button>搜索</button>
                </div>
            </div>

            <div class="left">
                <h1>用户中心</h1>
                <ul>
                    <li>
                        <span>.</span>
                        <a href="#">个人信息</a>
                    </li>
                    <li>
                        <span>.</span>
                        <a href="#">全部订单</a>
                    </li>
                    <li>
                        <span>.</span>
                        <a href="#">收货地址</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

</body>